@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro:wght@700&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(110deg, #005466 60%, #006980 60%);
  min-height: 100vh;
}

/* .Nav {
  position: fixed;
  left: 0;
  background-color: white;
  min-width: 100px;
  height: 100%;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.main-page-content {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
  max-width: 80vw;

}

.my-name {
  font-size: calc(30px + 2vmin);
  color:white;
}

.App-link {
  color: #61dafb;
}


.skills{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #005466;
  background-color: white;
  border-radius: 2px;
  min-width: 100px;
  height: 40px;
  opacity: .4;
  margin: 10px;
  box-shadow: 3px 3px #555555;
}

.skill1 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  1s;
}
.skill2 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  2.5s;
}
.skill3 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  4s;
}
.skill4 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  5.5s;
}
.skill5 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  7s;
}
.skill6 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  8.5s;
}

@keyframes fadeInAnimation {
  0% {
      visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.skills-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills:hover {
  opacity: .8;
  font-weight: bold;
}

.content {
  color: white;
  font-size: 20px
}

.hidden {
  display: none;
}

.squareLogo{
  width:100px;
  height: 100px;
}

/* Halloween Styles */
.main-container {
  /* width: 100vw;
  height: 100vh; */
  background-image: url(./images/skeleton2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top, left;
  /* min-height: 1100px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  
}

h1 {
  padding-bottom:10px;
  padding-top:0px;
}

.halloween-content 
{
  -webkit-text-stroke: .1px black;
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  font-size: 16px;
  background-color: hsla(0, 0%, 100%, 0.3);
  max-width: 100%;  
  min-height: 300px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 0px;


}

.title {
  color: white;
  font-family: 'Creepster', cursive;
  font-size: 60px;
  letter-spacing: 2px;
}

.title2 {
  color: white;
  font-family: 'Creepster', cursive;
  font-size: 20px;
  letter-spacing: 2px;
}

.btn {
  background-color: #912914 !important;
  border-color: #838383 !important;

}

.horror-text {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: flickering;
  animation-timing-function: step-start;
  color: #912914;
  font-family: 'Creepster', cursive;
}

@keyframes flickering {
  0% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  5% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  10% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(-5deg);
  }
  15% {
    color: #ccc;
    text-shadow: none;
    transform: skewX(-5deg);
  }
  20% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  25% {
    color: #ccc;
    text-shadow: 2px 2px #912914;
    transform: skewX(0);
  }
  30% {
    color: #ccc;
    text-shadow: 2px 2px #912914;
    transform: skewX(0);
  }
  35% {
    color: #ccc;
    text-shadow: 2px 2px #912914;
    transform: skewX(0);
  }
  37% {
    color: #ccc;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  40% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  45% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  50% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  55% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  60% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  65% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  68% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  70% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  75% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(2deg);
  }
  80% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(2deg);
  }
  85% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(2deg);
  }
  90% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
  95% {
    color: #912914;
    text-shadow: 1px 1px #eee;
    transform: skewX(0);
  }
  100% {
    color: #912914;
    text-shadow: none;
    transform: skewX(0);
  }
}
