@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro:wght@700&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(110deg, #005466 60%, #006980 60%);
  min-height: 100vh;
}

/* .Nav {
  position: fixed;
  left: 0;
  background-color: white;
  min-width: 100px;
  height: 100%;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.main-page-content {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
  max-width: 80vw;

}

.my-name {
  font-size: calc(30px + 2vmin);
  color:white;
}

.App-link {
  color: #61dafb;
}


.skills{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #005466;
  background-color: white;
  border-radius: 2px;
  min-width: 100px;
  height: 40px;
  opacity: .4;
  margin: 10px;
  box-shadow: 3px 3px #555555;
}

.skill1 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  1s;
}
.skill2 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  2.5s;
}
.skill3 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  4s;
}
.skill4 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  5.5s;
}
.skill5 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  7s;
}
.skill6 {
  animation: fadeInAnimation cubic-bezier(0.1, -0.6, 0.2, 0)  8.5s;
}

@keyframes fadeInAnimation {
  0% {
      visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.skills-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills:hover {
  opacity: .8;
  font-weight: bold;
}

.content {
  color: white;
  font-size: 20px
}

.hidden {
  display: none;
}

.squareLogo{
  width:100px;
  height: 100px;
}

/* Halloween Styles */
.main-container {
  width: 100vw;
  height: 100vh;
  background: url(./images/skeleton2.jpg);
  background-size: cover;
  background-position: top, left;
  padding: 20px;
  
}

.halloween-content 
{
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  font-size: 16px;
  background-color: hsla(0, 100%, 90%, 0.3);
  max-width: 80%;  
  min-height: 300px;
  border-radius: 10px;


}

.title {
  color: white;
  font-family: 'Creepster', cursive;
  font-size: 60px;
  letter-spacing: 2px;
}